<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo ">
        <a href="/" class="app-brand-link">
            <img src="/StrideStar-Logo-Horizontal.png" width="100%" alt="StrideStar-Logo">
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="fa-solid fa-chevron-left text-center align-content-center"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item">
            <a href="/admin" class="menu-link">
                <i class="menu-icon tf-icons fa-sharp fa-regular fa-house"></i>
                <div class="text-truncate">Trang chủ</div>
            </a>
        </li>
        <!-- Invoice Panel -->
        <li class="menu-item">
            <a href="/admin/orders" class="menu-link">
                <i class="menu-icon tf-icons fa-solid fa-file-invoice"></i>
                <div class="text-truncate">Danh sách đơn hàng</div>
            </a>
        </li>
        <!-- Product Attribute Panel -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Sản phẩm</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-brands fa-product-hunt"></i>
                <div class="text-truncate">Sản phẩm</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/admin/products/create" class="menu-link">
                        <div class="text-truncate">Thêm mới</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/admin/products" class="menu-link">
                        <div class="text-truncate">Xem sản phẩm</div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Category Panel -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Danh mục</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-regular fa-layer-group"></i>
                <div class="text-truncate">Danh mục</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/admin/categories/create" class="menu-link">
                        <div class="text-truncate">Thêm mới</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/admin/categories" class="menu-link">
                        <div class="text-truncate">Xem danh sách</div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Product Attribute Panel -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Thuộc tính</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-regular fa-gear-complex-code"></i>
                <div class="text-truncate">Thuộc tính</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/admin/attributes/create" class="menu-link">
                        <div class="text-truncate">Thêm mới</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/admin/attributes" class="menu-link">
                        <div class="text-truncate">Xem danh sách</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Blog</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons fa-regular fa-layer-group"></i>
                <div class="text-truncate">Blog</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/admin/blogs/create" class="menu-link">
                        <div class="text-truncate">Thêm mới</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/admin/blogs" class="menu-link">
                        <div class="text-truncate">Xem danh sách</div>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</aside>