<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{admin/adminLayout}">
<head>
    <title>Stride Star - Danh sách thuộc tính</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="card">
            <div class="card-header">
                <div class="row px-3">
                    <h5 class="col-auto me-auto my-auto p-0">Danh sách thuộc tinh</h5>
                    <a href="/admin/attributes/create" class="btn btn-primary col-auto"><i class="fa-solid fa-plus me-1"></i>Thêm</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên danh mục</th>
                            <th>Số lượng giá trị</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="attributeList" class="table-border-bottom-0">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                updateAttributeForm();

                $(document).on('click', '.deleteAttribute', function() {
                    var row = $(this).closest('tr');
                    if (confirm('Bạn có chắc chắn muốn xóa thuộc tính này?')) {
                        $.ajax({
                            url: '/api/attributes/delete/' + $(this).data('id'),
                            type: 'DELETE',
                            success: function() {
                                row.remove();
                                showIziToast('Thành công', 'Xóa thuộc tính thành công!', 'green');
                            },
                            error: function() {
                                showIziToast('Lỗi', 'Xóa thuộc tính thất bại!', 'red');
                            }
                        });
                    }
                });

                function updateAttributeForm() {
                    $.ajax({
                        url: '/api/attributes/getAll',
                        type: 'GET',
                        success: function(response) {
                            $('#attributeList').empty();
                            if(response != null) {
                                response.forEach(function(attribute) {
                                    $('#attributeList').append(`
                                        <tr>
                                            <td>${attribute.id}</td>
                                            <td>${attribute.name}</td>
                                            <td>${attribute.productAttributeValues.length}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="/admin/attributes/edit/${attribute.id}">
                                                            <i class="bx bx-edit-alt me-1"></i> Sửa
                                                        </a>
                                                        <a href="#" class="deleteAttribute dropdown-item" data-id="${attribute.id}">
                                                            <i class="bx bx-trash me-1"></i> Xoá
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    `);
                                });
                            }
                        }
                    });
                }
            });
        </script>
    </section>
</body>
</html>