<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main-site/layout}">
<head>
    <meta charset="UTF-8">
    <title>Về chúng tôi</title>
</head>
<body>
    <section layout:fragment="content">
        <main class="main-content">
            <!--== Start Page Header Area Wrapper ==-->
            <div class="page-header-area" data-bg-img="/main-site/img/photos/bg3.webp" style="background-image: url(&quot;/main-site/img/photos/bg3.webp&quot;);">
                <div class="container pt--0 pb--0">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-header-content">
                                <h2 class="title aos-init aos-animate" data-aos="fade-down" data-aos-duration="1000">Về chúng tôi</h2>
                                <nav class="breadcrumb-area aos-init aos-animate" data-aos="fade-down" data-aos-duration="1200">
                                    <ul class="breadcrumb">
                                        <li><a href="/">Trang chủ</a></li>
                                        <li class="breadcrumb-sep">//</li>
                                        <li>Về chúng tôi</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Page Header Area Wrapper ==-->

            <!--== Start About Area Wrapper ==-->
            <section class="about-area about-default-wrapper">
                <div class="container">
                    <div class="about-item position-relative">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="about-thumb">
                                    <div class="shape-one scene" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative;">
                  <span class="scene-layer" data-depth=".2" style="transform: translate3d(-1.99766%, 0.787302%, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; height: 100%; width: 100%; left: 0px; top: 0px;">
                    <img src="/main-site/img/about/1.webp" width="570" height="368" alt="Image-HasTech">
                  </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="about-content">
                                    <h4 class="sub-title">Cuộc sống mới</h4>
                                    <h3 class="title">Với những đôi giày hiện đại</h3>
                                    <p class="desc">Giày là một phụ kiện không thể thiếu trong cuộc sống hàng ngày của chúng ta. Chúng không chỉ bảo vệ đôi chân mà còn thể hiện phong cách và cá tính của mỗi người. Từ những đôi giày thể thao năng động, giày cao gót thanh lịch, giày lười tiện lợi đến giày da sang trọng, mỗi loại giày đều mang lại sự thoải mái và tự tin cho người sử dụng. Các thương hiệu nổi tiếng như Nike, Adidas, Converse, và nhiều hãng khác luôn không ngừng sáng tạo để mang đến những thiết kế độc đáo và chất lượng. Hãy chọn cho mình đôi giày phù hợp để tự tin bước đi trên mọi nẻo đường.</p>
                                    <a class="btn-theme" href="contact.html">Liện hệ với chúng tôi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End About Area Wrapper ==-->

            <!--== Start Divider Area Wrapper ==-->
            <section class="bg-color-f2 position-relative z-index-1">
                <div class="container pt--0 pb--0">
                    <div class="row divider-wrap divider-style1">
                        <div class="col-lg-6">
                            <div class="divider-content" data-title="NEW">
                                <h4 class="sub-title">TIết kiệm 50%</h4>
                                <h2 class="title">Cửa hàng trực tuyến</h2>
                                <p class="desc">Ưu đãi với mọi cửa hàng &amp; sản phẩm</p>
                                <a class="btn-theme" href="shop.html">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-layer-wrap">
                    <div class="bg-layer-style z-index--1 parallax" data-speed="1.05" data-bg-img="/main-site/img/photos/bg1.webp" style="background-image: none;" data-jarallax-original-styles="background-image: url(&quot;/main-site/img/photos/bg1.webp&quot;);"><div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://htmldemo.net/shome/shome//main-site/img/photos/bg1.webp&quot;); position: absolute; top: 0px; left: 0px; width: 828.333px; height: 580.913px; overflow: hidden; pointer-events: none; margin-top: 339.544px; transform: translate3d(0px, -339.577px, 0px);"></div></div></div>
                </div>
            </section>
            <!--== End Divider Area Wrapper ==-->

            <!--== Start Team Area Wrapper ==-->
            <section class="team-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <h3 class="title">Thành viên</h3>
                                <div class="desc">
                                    <p>Hợp tác cùng phát triển</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <!--== Start Team Item ==-->
                            <div class="team-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="about-us.html"><img src="/main-site/img/team/1.webp" width="270" height="270" alt="Image-HasTech"></a>
                                        <div class="member-icons">
                                            <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                            <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                                            <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a href="about-us.html">Jander Durham</a></h4>
                                        <p>Team Member</p>
                                    </div>
                                </div>
                            </div>
                            <!--== End Team Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <!--== Start Team Item ==-->
                            <div class="team-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="about-us.html"><img src="/main-site/img/team/2.webp" width="270" height="270" alt="Image-HasTech"></a>
                                        <div class="member-icons">
                                            <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                            <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                                            <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a href="about-us.html">Jaren Hammer</a></h4>
                                        <p>Team Member</p>
                                    </div>
                                </div>
                            </div>
                            <!--== End Team Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <!--== Start Team Item ==-->
                            <div class="team-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="about-us.html"><img src="/main-site/img/team/3.webp" width="270" height="270" alt="Image-HasTech"></a>
                                        <div class="member-icons">
                                            <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                            <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                                            <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a href="about-us.html">Nurdan Denkel</a></h4>
                                        <p>Team Member</p>
                                    </div>
                                </div>
                            </div>
                            <!--== End Team Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <!--== Start Team Item ==-->
                            <div class="team-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="about-us.html"><img src="/main-site/img/team/4.webp" width="270" height="270" alt="Image-HasTech"></a>
                                        <div class="member-icons">
                                            <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                            <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                                            <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a href="about-us.html">Monroe Bond</a></h4>
                                        <p>Team Member</p>
                                    </div>
                                </div>
                            </div>
                            <!--== End Team Item ==-->
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Team Area Wrapper ==-->

            <!--== Start Testimonial Area Wrapper ==-->
            <section class="testimonial-area bg-color-f2 position-relative z-index-1">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <h3 class="title">Phản hồi của khách hàng</h3>
                                <div class="desc">
                                    <p>Khách hàng là niềm tự hào của cửa hàng!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="swiper-container testimonial-slider-container swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                    <div class="swiper-slide swiper-slide-active" style="width: 570px; margin-right: 30px;">
                                        <!--== Start Testimonial Item ==-->
                                        <div class="testimonial-item">
                                            <div class="testi-inner-content">
                                                <div class="testi-thumb">
                                                    <img src="/main-site/img/testimonial/1.webp" width="90" height="90" alt="Image-HasTech">
                                                </div>
                                                <div class="testi-content">
                                                    <p>Lorem ipsum dolor sit amel adipiscing elit, sed do eiusll tempor incididunt ut laborj et dolore magna.</p>
                                                    <div class="testi-author">
                                                        <div class="testi-info">
                                                            <span class="name"><a href="about-us.html">Jaren Hammer</a></span>
                                                        </div>
                                                    </div>
                                                    <div class="testi-quote"><img src="/main-site/img/icons/quote1.webp" width="62" height="44" alt="Image-HasTech"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--== End Testimonial Item ==-->
                                    </div>
                                    <div class="swiper-slide swiper-slide-next" style="width: 570px; margin-right: 30px;">
                                        <!--== Start Testimonial Item ==-->
                                        <div class="testimonial-item">
                                            <div class="testi-inner-content">
                                                <div class="testi-thumb">
                                                    <img src="/main-site/img/testimonial/2.webp" width="90" height="90" alt="Image-HasTech">
                                                </div>
                                                <div class="testi-content">
                                                    <p>Lorem ipsum dolor sit amel adipiscing elit, sed do eiusll tempor incididunt ut laborj et dolore magna.</p>
                                                    <div class="testi-author">
                                                        <div class="testi-info">
                                                            <span class="name"><a href="about-us.html">Dorian Cordova</a></span>
                                                        </div>
                                                    </div>
                                                    <div class="testi-quote"><img src="/main-site/img/icons/quote1.webp" width="62" height="44" alt="Image-HasTech"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--== End Testimonial Item ==-->
                                    </div>
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        </div>
                    </div>
                </div>
                <div class="shape-group-style3">
                    <div class="shape-group-one"><img src="/main-site/img/shape/10.webp" width="274" height="121" alt="Image-HasTech"></div>
                    <div class="shape-group-two"><img src="/main-site/img/shape/11.webp" width="215" height="183" alt="Image-HasTech"></div>
                    <div class="shape-group-three"><img src="/main-site/img/shape/12.webp" width="288" height="166" alt="Image-HasTech"></div>
                    <div class="shape-group-four"><img src="/main-site/img/shape/17.webp" width="493" height="340" alt="Image-HasTech"></div>
                </div>
            </section>
            <!--== End Testimonial Area Wrapper ==-->

            <!--== Start Blog Area Wrapper ==-->
            <section class="blog-area blog-default-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <h3 class="title">Bài viết mới nhất</h3>
                                <div class="desc">
                                    <p>Thông tin được cập nhật liên tục.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="blog-details.html"><img src="/main-site/img/blog/1.webp" width="370" height="260" alt="Image-HasTech"></a>
                                    </div>
                                    <div class="content">
                                        <div class="meta-post">
                                            <ul>
                                                <li class="post-date"><i class="fa fa-calendar"></i><a href="blog.html">27,Jun 2030</a></li>
                                                <li class="author-info"><i class="fa fa-user"></i><a href="blog.html">Oaklee Odom</a></li>
                                            </ul>
                                        </div>
                                        <h4 class="title"><a href="blog-details.html">Lorem ipsum dolor ametcons adipisicing elit sed</a></h4>
                                        <a class="post-btn" href="blog.html">Đọc</a>
                                    </div>
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>

                    </div>
                </div>
            </section>
            <!--== End Blog Area Wrapper ==-->
        </main>
    </section>
</body>
</html>