<!DOCTYPE html>
<html layout:decorate="~{admin/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stride Star - Dashboard</title>
    <link rel="stylesheet" th:href="@{/admin/vendor/libs/apex-charts/apex-charts.css}"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1">
                <li class="breadcrumb-item">
                    <a asp-action="index" asp-area="admin" asp-controller="home">Trang chủ</a>
                </li>
                <li class="breadcrumb-item active">Doanh số tháng</li>
            </ol>
        </nav>
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row mb-4">
                <div class="col-2">
                    <div class="card-body">
                        <div class="text-center">

                            <style>
                                #yearSelected option {
                                    font-size: 1em;
                                    min-height: 14px;
                                    padding: 4px 0;
                                }
                            </style>

                            <select class="form-select color-dropdown" id="yearSelected">
                                <option selected value="2024">2024</option>
                                <option value="2023">2023</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card-body">
                        <div class="text-center">
                            <select class="form-select color-dropdown" id="monthSelected">
                                <option disabled selected value="">Tháng</option>
                                <option value="1">tháng 1</option>
                                <option value="2">tháng 2</option>
                                <option value="3">tháng 3</option>
                                <option value="4">tháng 4</option>
                                <option value="5">tháng 5</option>
                                <option value="6">tháng 6</option>
                                <option value="7">tháng 7</option>
                                <option value="8">tháng 8</option>
                                <option value="9">tháng 9</option>
                                <option value="10">tháng 10</option>
                                <option value="11">tháng 11</option>
                                <option value="12">tháng 12</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                        <div class="avatar flex-shrink-0">
                                            <img alt="chart success" class="rounded"
                                                 src="/admin/img/icons/unicons/chart-success.png"/>
                                        </div>
                                    </div>
                                    <span class="fw-medium d-block mb-1">Doanh thu</span>
                                    <h3 class="card-title mb-2" id="monthRevenue">0đ</h3>
                                    <small class="text-success fw-medium" id="monthRevenuePercentage"><i
                                            class="bx bx-up-arrow-alt"></i> 0%</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                        <div class="avatar flex-shrink-0">
                                            <img alt="Credit Card" class="rounded"
                                                 src="/admin/img/icons/unicons/wallet-info.png"/>
                                        </div>
                                    </div>
                                    <span>Giảm giá</span>
                                    <h3 class="card-title text-nowrap mb-1" id="monthDiscount">0đ</h3>
                                    <small class="text-success fw-medium" id="monthDiscountPercentage"><i
                                            class="bx bx-up-arrow-alt"></i> 0%</small>
                                </div>
                            </div>
                        </div>
                        <!-- Additional cards can be added here -->
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                        <div class="avatar flex-shrink-0">
                                            <img alt="Credit Card" class="rounded"
                                                 src="/admin/img/icons/unicons/wallet-info.png"/>
                                        </div>
                                    </div>
                                    <span>Thanh toán COD</span>
                                    <h3 class="card-title text-nowrap mb-1" id="monthRevenueCOD">0đ</h3>
                                    <small class="text-success fw-medium" id="monthRevenueCODPercentage"><i
                                            class="bx bx-up-arrow-alt"></i> 0%</small>
                                </div>
                            </div>
                        </div>
                        <!-- Additional cards can be added here -->
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                        <div class="avatar flex-shrink-0">
                                            <img alt="Credit Card" class="rounded"
                                                 src="/admin/img/icons/unicons/cc-primary.png"/>
                                        </div>
                                    </div>
                                    <span>Thanh toán VNPAY</span>
                                    <h3 class="card-title text-nowrap mb-1" id="monthRevenueVnPay">0đ</h3>
                                    <small class="text-success fw-medium" id="monthRevenueVnPayPercentage"><i
                                            class="bx bx-up-arrow-alt"></i> 0%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Content -->
        <div class="content-backdrop fade"></div>
    </div>

    <script>
        $(document).ready(function () {

            function fetchRevenueData(year, month) {
                console.log('Fetching revenue data for year:', year, 'month:', month); // Debug log
                $.ajax({
                    url: '/api/revenue',
                    type: 'GET',
                    data: {
                        year: year,
                        month: month
                    },
                    success: function (response) {
                        console.log('Response:', response); // Debug log
                        $('#monthRevenue').text(response.monthRevenue.toLocaleString('vi-VN') + 'đ');
                        $('#monthRevenuePercentage').text(response.monthRevenuePercentage + '%');

                        $('#monthDiscount').text(response.monthDiscount.toLocaleString('vi-VN') + 'đ');
                        $('#monthDiscountPercentage').text(response.monthDiscountPercentage + '%');

                        $('#monthRevenueCOD').text(response.monthRevenueCOD.toLocaleString('vi-VN') + 'đ');
                        $('#monthRevenueCODPercentage').text(response.monthRevenueCODPercentage + '%');

                        $('#monthRevenueVnPay').text(response.monthRevenueVnPay.toLocaleString('vi-VN') + 'đ');
                        $('#monthRevenueVnPayPercentage').text(response.monthRevenueVnPayPercentage + '%');


                    },
                    error: function (error) {
                        console.error('Error fetching revenue data:', error);
                    }
                });
            }

            $('#yearSelected, #monthSelected').change(function () {
                var selectedYear = $('#yearSelected').val();
                var selectedMonth = $('#monthSelected').val();

                console.log('Year selected:', selectedYear); // Debug log
                console.log('Month selected:', selectedMonth); // Debug log

                if (selectedYear && selectedMonth) {
                    fetchRevenueData(selectedYear, selectedMonth);
                }
            });

            // Trigger initial data fetch if needed
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();
            var currentMonth = currentDate.getMonth() + 1; // JavaScript months are 0-based

            $('#yearSelected').val(currentYear);
            $('#monthSelected').val(currentMonth);

            // Trigger initial data fetch if needed
            fetchRevenueData(currentYear, currentMonth);
        });
    </script>
</section>
</body>
</html>