<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/adminLayout}">
<head>
    <title>Stride Star - Danh sách bài viết blog</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1>Danh sách bài viết blog</h1>
        <a href="/admin/blogs/create" class="btn btn-primary mb-3">Tạo bài viết mới</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Tiêu đề</th>
                <th>Ảnh đại diện</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog : ${blogs}">
                <td th:text="${blog.id}"></td>
                <td th:text="${blog.title}"></td>
                <td><img th:src="@{'/images/blogs/' + ${blog.avatarUrl}}" alt="Ảnh đại diện" width="100" height="60" style="object-fit:cover"></td>
                <td>
                    <a th:href="@{'/admin/blogs/edit/' + ${blog.id}}" class="btn btn-warning btn-sm">Chỉnh sửa</a>
                    <a th:href="@{'/admin/blogs/delete/' + ${blog.id}}" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
