<!-- src/main/resources/templates/main-site/blog/details.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main-site/layout}">
<head>
    <title>Blog Details</title>
</head>
<body>
<section layout:fragment="content" class="blog-details-area">
    <div class="container pb-lg-85">
        <div class="row justify-content-center">
            <div class="col-lg-11" data-aos="fade-up">
                <div class="blog-details-content-wrap">
                    <div class="blog-details-item">
                        <div class="blog-details-thumb">
                            <img th:src="@{'/images/blogs/' + ${blog.avatarUrl}}" width="750" height="459" th:alt="${blog.title}">
                        </div>
                        <div class="blog-meta-post">
                            <ul>
                                <li class="post-date">
                                    <i class="fa fa-calendar"></i>
                                    <a th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.formattedCreatedAt}"></a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="main-title" th:text="${blog.title}">Lorem ipsum dolor sit amet conse adipisi elit sed do eiusmod tempor.</h3>
                        <div class="details-wrapper details-wrapper-style1" data-margin-bottom="38">
                            <p th:utext="${blog.content}"></p> <!-- Sử dụng th:utext để hiển thị nội dung HTML -->
                        </div>
                        <div class="blog-details-footer">
                            <div class="tage-list">
                                <span>Tags:</span>
                                <a href="blog.html">Nike</a>,
                                <a href="blog.html">Adidas</a>,
                                <a href="blog.html">Jordan</a>
                                <!--<a href="blog.html">TV</a>-->
                            </div>
                            <div class="social-icons">
                                <span>Share:</span>
                                <a href="#/"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#/"><i class="fa-brands fa-instagram"></i></a>
                                <!--<a href="#/"><i class="fa fa-pinterest-p"></i></a>-->
                                <a href="#/"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                        <!-- main-site/blog/detail.html -->
                        <div class="article-next-previous">
                            <div class="arrow-item previous">
                                <div class="arrow-thumb">
                                    <a th:href="@{/blog/{id}(id=${relatedBlogs[0].id})}"><img th:src="@{'/images/blogs/' + ${relatedBlogs[0].avatarUrl}}" width="98" height="101" alt=""></a>
                                    <a class="overlay" th:href="@{/blog/{id}(id=${relatedBlogs[0].id})}"><i class="fa fa-angle-left"></i></a>
                                </div>
                                <div class="arrow-content">
                                    <span class="date"><a th:href="@{/blog/{id}(id=${relatedBlogs[0].id})}"><i class="fa fa-calendar"></i><span th:text="${relatedBlogs[0].formattedCreatedAt}"></span></a></span>
                                    <h6 class="title"><a th:href="@{/blog/{id}(id=${relatedBlogs[0].id})}"><span th:text="${relatedBlogs[0].title}"></span></a></h6>
                                </div>
                            </div>
                            <div class="arrow-item next">
                                <div class="arrow-thumb">
                                    <a th:href="@{/blog/{id}(id=${relatedBlogs[1].id})}"><img th:src="@{'/images/blogs/' + ${relatedBlogs[1].avatarUrl}}" width="98" height="101" alt=""></a>
                                    <a class="overlay" th:href="@{/blog/{id}(id=${relatedBlogs[1].id})}"><i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="arrow-content">
                                    <span class="date"><a th:href="@{/blog/{id}(id=${relatedBlogs[1].id})}"><i class="fa fa-calendar"></i><span th:text="${relatedBlogs[1].formattedCreatedAt}"></span></a></span>
                                    <h6 class="title"><a th:href="@{/blog/{id}(id=${relatedBlogs[1].id})}"><span th:text="${relatedBlogs[1].title}"></span></a></h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--== Start Comment View Item ==-->
                <div class="comment-view-area">
                    <h4 class="title-main">Comments</h4>
                    <div class="comment-view-content">
                        <div class="single-comment">
                            <div class="author-pic">
                                <a href="blog.html"><img src="/main-site/img/blog/author1.webp" width="101" height="118" alt="Image-HasTech"></a>
                            </div>
                            <div class="author-info">
                                <h4 class="title">
                                    <a href="blog.html">Marie Jensen</a>
                                    <span> - </span>
                                    <a class="comment-date" href="blog.html">22 August, 2022</a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore eto magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcol</p>
                                <div class="author-info-footer">
                                    <a class="comment-reply" href="#/">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-comment reply-comment">
                            <div class="author-pic">
                                <a href="blog.html"><img src="/main-site/img/blog/author2.webp" width="101" height="118" alt="Image-HasTech"></a>
                            </div>
                            <div class="author-info">
                                <h4 class="title">
                                    <a href="blog.html">Rachel Leonard</a>
                                    <span> - </span>
                                    <a class="comment-date" href="blog.html">22 August, 2022</a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore eto magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcol</p>
                                <div class="author-info-footer">
                                    <a class="comment-reply" href="#/">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-comment">
                            <div class="author-pic">
                                <a href="blog.html"><img src="/main-site/img/blog/author3.webp" width="101" height="118" alt="Image-HasTech"></a>
                            </div>
                            <div class="author-info">
                                <h4 class="title">
                                    <a href="blog.html">Amilia Luna</a>
                                    <span> - </span>
                                    <a class="comment-date" href="blog.html">22 August, 2022</a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore eto magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcol</p>
                                <div class="author-info-footer">
                                    <a class="comment-reply" href="#/">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Comment View Item ==-->

                <!--== Start Comment Item ==-->
                <div class="comment-form-area">
                    <h4 class="title-main">Leave a Comments</h4>
                    <div class="comment-form-content">
                        <form action="#">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Name *">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="email" placeholder="Email *">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Subject (Optinal)">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb--0">
                                        <textarea class="form-control" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb--0">
                                        <button type="submit" class="btn-theme">Send a Comment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--== End Comment Item ==-->
            </div>
        </div>
        <!--<div class="row justify-content-center">
            <div class="col-lg-4" data-aos="fade-left">
                <div class="blog-sidebar">
                    <div class="blog-sidebar-search">
                        <div class="sidebar-search-form">
                            <form action="#">
                                <input type="search" placeholder="Search">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    &lt;!&ndash;== Start Recent Posts Widget ==&ndash;&gt;
                    <div class="blog-sidebar-wrap">
                        <div class="blog-sidebar-post">
                            <h4 class="sidebar-title">Recent Posts</h4>
                            <div class="sidebar-post">
                                <div class="single-post" th:each="recentBlog : ${recentBlogs}">
                                    <div class="post-thumb">
                                        <a th:href="@{/blog/{id}(id=${recentBlog.id})}">
                                            <img th:src="@{${recentBlog.avatarUrl}}" width="98" height="101" th:alt="${recentBlog.title}">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <span class="date">
                                            <a th:href="@{/blog/{id}(id=${recentBlog.id})}">
                                                <i class="fa fa-calendar"></i> <span th:text="${#dates.format(recentBlog.createdAt, 'dd-MM-yyyy')}"></span>
                                            </a>
                                        </span>
                                        <h6 class="title">
                                            <a th:href="@{/blog/{id}(id=${recentBlog.id})}" th:text="${recentBlog.title}">Lorem ipsum dolorl amet conse adip</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash;== End Recent Posts Widget ==&ndash;&gt;

                    &lt;!&ndash; Sidebar categories, tags, etc. &ndash;&gt;
                </div>
            </div>
        </div>-->
    </div>
</section>
</body>
</html>
