<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{admin/adminLayout}">
<head>
    <title>Stride Star - Danh sách danh mục</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="card">
            <h5 class="card-header">Danh sách danh mục</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên danh mục</th>
                            <th>Hiển thị</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="categoryList" class="table-border-bottom-0">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                updateCategoryList();

                $(document).on('click', '#deleteCategory', function(e) {
                    e.preventDefault();
                    const categoryId = $(this).data('id');
                    $.ajax({
                        url: `/api/categories/delete/${categoryId}`,
                        type: 'DELETE',
                        success: function(response) {
                            updateCategoryList();
                            showIziToast('Thông báo', 'Xoá danh mục thành công !');
                        },
                        error: function(xhr, status, error) {
                            updateCategoryList();
                            console.log(xhr);
                            showIziToast('Lỗi', 'Xoá không thành công !', 'red');
                        }
                    });
                });
                
                function updateCategoryList() {
                    $.ajax({
                        url: '/api/categories/getAll',
                        type: 'GET',
                        success: function(response) {
                            $('#categoryList').empty();
                            if(response != null)
                            {
                                response.forEach(function(category) {
                                    $('#categoryList').append(`
                                        <tr>
                                            <td>${category.id}</td>
                                            <td>
                                                <img src="/images/categories/${category.avatar}" width="60px" height="60px" alt="Avatar" class="category-image rounded-circle me-2 object-fit-cover"> ${category.name}
                                            </td>
                                            <td>
                                                <span class="badge bg-label-${category.display ? 'success' : 'warning'} me-1">${category.display ? 'Hiển thị' : 'Ẩn'}</span>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="/admin/categories/edit/${category.id}">
                                                            <i class="bx bx-edit-alt me-1"></i> Sửa
                                                        </a>
                                                        <a id="deleteCategory" href="#" class="dropdown-item" data-id="${category.id}">
                                                            <i class="bx bx-trash me-1"></i> Xoá
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    `);
                                });
                            }
                        },
                        error: function(response) {
                            showIziToast('Lỗi', 'Không thể lấy danh sách danh mục !', 'red');
                        }
                    });
                }
            });
        </script>
    </section>
</body>
</html>