<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{admin/adminLayout}">
<head>
    <title>Stride Star - Danh sách danh mục</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="card">
            <h5 class="card-header">Table Basic</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên danh mục</th>
                            <th>Hiển thị</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr th:each="category : ${categories}">
                            <td>[[${category.id}]]</td>
                            <td>
                                <img th:src="@{'/images/categories/' + ${category.avatar}}" width="60px" height="60px" alt="Avatar" class="category-image rounded-circle me-2 object-fit-cover"> [[${category.name}]]
                            </td>
                            
                            <td>
                                <span th:if="${category.display}" class="badge bg-label-success me-1">Hiển thị</span>
                                <span th:unless="${category.display}" class="badge bg-label-warning me-1">Ẩn</span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:href="@{/admin/categories/edit/{id}(id=${category.id})}">
                                            <i class="bx bx-edit-alt me-1"></i> Sửa
                                        </a>
                                        <a class="dropdown-item" th:href="@{/admin/categories/delete/{id}(id=${category.id})}"
                                            onclick="return confirm('Bạn có chắc muốn xoá danh mục này?')">
                                            <i class="bx bx-trash me-1"></i> Xoá
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const images = document.querySelectorAll('.category-image');
                images.forEach(image => {
                    const imageUrl = image.getAttribute('src');
                    image.setAttribute('src', `${imageUrl}?v=${new Date().getTime()}`);
                });
            });
        </script>
    </section>
</body>
</html>